@import "~bootstrap/scss/bootstrap.scss";

.task:hover {
    background: rgb(195, 222, 235);
    border-radius: 2px;
    //color: red;
}

.delete:hover {
    color: red;
}

.done:hover {
    color: green;
    background: lightgreen;
    border-radius: 50%;
}